<div id="page-container">

	<div class="phase-banner">
	  <p>
	    <strong class="phase-tag">ALPHA</strong>
	    <span>This is a prototype – your <%= mail_to "support.csjobs@csresourcing.gsi.gov.uk" , "feedback" %> will help us to improve it.</span>
	  </p>
	</div>

	<div class="grid-row">

		<div class="column-third">
		<ul class="prog-tracker">
			<li><%= link_to "Eligibility checker", '#' %></li>
			<li><%= link_to "Your details", '#' %></li>
			<li class="prog-item--active"><%= link_to "CV",   cv1_path %></li>
			<li><%= link_to "Personal statement",   personal_statement_path %></li>
			<li><%= link_to "Diversity and inclusion", '#' %></li>
			<li><%= link_to "Additional requirements", '#' %></li>
		</ul>
		</div>

		<div class="column-two-thirds">
		<h1>CV</h1>
		<p>Parmesan cow jarlsberg. Hard cheese pepper jack cut the cheese port-salut cheese and <%= link_to "wine paneer", '#', class: 'external-link' %> caerphilly ricotta.</p>
		<ul class="list list-bullet">
			<li>Camembert</li>
			<li>Lancashire</li>
			<li>Chedder</li>
		</ul>
		<form>
		<fieldset>
		<legend>CV details</legend>
		<div class="form-group">
		<label class="form-label" for="full-name-f1">Career history<span class="help-text">Provide your full history</span></label>
  		<textarea class="form-textarea" name="career-history" id="full-name-f1" rows="20" cols="40"></textarea>
  		</div>
  		<div class="form-group">
		<label class="form-label" for="full-name-f1">Qualification details<span class="help-text">Include academic and professional qualifications</span></label>
  		<textarea class="form-textarea" name="qualifications" id="full-name-f1" rows="20" cols="40"></textarea>
  		</div>
  		</fieldset>
  		</form>
  		<div class="form-group">
		<%= link_to "Save and continue",   personal_statement_path, class: "button" %>
		</div>
		</div>

	</div>

</div>