<% content_for :page_title do %>
Civil Service Jobs - CV Option 3 - GOV.UK
<% end %>
<% content_for :head do %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<% end %>
<% content_for :inside_header do%>
<div class='header-proposition'>
  <div class='content'>
    <nav id='proposition-menu'>
      <a href='/' id='proposition-name'>Civil Service Jobs</a>
    </nav>
  </div>
</div>
<% end %>

<div id="content">
<div id="page-container">

	<div class="phase-banner">
	  <p>
	    <strong class="phase-tag">ALPHA</strong>
	    <span>This is a prototype – your <%= mail_to "support.csjobs@csresourcing.gsi.gov.uk" , "feedback" %> will help us to improve it.</span>
	  </p>
	</div>

	<div class="grid-row">

		<%= render 'layouts/progress_tracker' %>

		<div class="column-two-thirds">
		<%= render 'layouts/cv_content' %>
		<form>
		<fieldset>
		<legend>CV details</legend>
		<div class="form-group">
		<label class="form-label" for="full-name-f1">Skills<span class="help-text">Enter skills relevant to the advertised job</span></label>
  		<textarea class="form-textarea" id="full-name-f1" rows="20" cols="40"></textarea>
  		</div>
  		<div class="form-group">
		<label class="form-label" for="full-name-f1">Employment history<span class="help-text">Enter your full history starting with the most recent</span></label>
  		<textarea class="form-textarea" id="full-name-f1" rows="20" cols="40"></textarea>
  		</div>
  		<div class="form-group">
		<label class="form-label" for="full-name-f1">Qualification details<span class="help-text">Enter your educational and professional qualifications</span></label>
  		<textarea class="form-textarea" id="full-name-f1" rows="20" cols="40"></textarea>
  		</div>
  		<div class="form-group">
			<label class="block-label" for="waste-type-1">
	        <input id="waste-type-1" name="waste-types" type="checkbox" value="waste-animal">
	        I have removed <%= link_to "personal information", "#personal-details"%> that could identify me
	    	</label>
		</div>
  		</fieldset>
  		</form>
  		<div class="form-group">
		<%= link_to "Save and continue",   personal_statement_path, class: "button" %>
		</div>
		</div>

	</div>
</div>
</div>