<% content_for :page_title do %>
Civil Service Jobs - CV Option 3 - GOV.UK
<% end %>
<% content_for :head do %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<% end %>
<% content_for :inside_header do%>
<div class='header-proposition'>
  <div class='content'>
    <nav id='proposition-menu'>
      <a href='/' id='proposition-name'>Civil Service Jobs</a>
    </nav>
  </div>
</div>
<% end %>

<div id="content">
<div id="page-container">

	<div class="phase-banner">
	  <p>
	    <strong class="phase-tag">ALPHA</strong>
	    <span>This is a prototype – your <%= mail_to "support.csjobs@csresourcing.gsi.gov.uk" , "feedback" %> will help us to improve it.</span>
	  </p>
	</div>

	<div class="grid-row">

		<div class="column-one-third">
		<ul class="prog-tracker">
			<li><%= link_to "Eligibility checker", '#' %></li>
			<li><%= link_to "Your details", '#' %></li>
			<li class="prog-item--active"><%= link_to "CV",   cv1_path %></li>
			<li><%= link_to "Personal statement",   personal_statement_path %></li>
			<li><%= link_to "Diversity and inclusion", '#' %></li>
			<li><%= link_to "Additional requirements", '#' %></li>
		</ul>
		</div>

		<div class="column-two-thirds">
		<h1 class="heading-large">CV</h1>
		<p>Parmesan cow jarlsberg. Hard cheese pepper jack cut the cheese port-salut cheese and <%= link_to "wine paneer", '#', rel: 'external' %> caerphilly ricotta.</p>
		<ul class="list list-bullet">
			<li>Camembert</li>
			<li>Lancashire</li>
			<li>Chedder</li>
		</ul>
		<form>
		<fieldset>
		<legend>CV details</legend>
		<div class="form-group">
		<label class="form-label" for="full-name-f1">Career history</label>
  		<textarea class="form-textarea" id="full-name-f1" rows="20" cols="40"></textarea>
  		</div>
  		<div class="form-group">
		<label class="form-label" for="full-name-f1">Qualification details</label>
  		<textarea class="form-textarea" id="full-name-f1" rows="20" cols="40"></textarea>
  		</div>
  		<div class="form-group">
		<label class="form-label" for="full-name-f1">Skills</label>
  		<textarea class="form-textarea" id="full-name-f1" rows="20" cols="40"></textarea>
  		</div>
  		<div class="form-group">
			<label class="form-checkbox" for="checkbox-telephone-number">
			<input id="removed-persona-details" name="details-removed" type="checkbox" value="">
			I have removed identifiable details
			</label>
		</div>
  		</fieldset>
  		</form>
  		<div class="form-group">
		<%= link_to "Save and continue",   personal_statement_path, class: "button" %>
		</div>
		</div>

	</div>
</div>
</div>