<% content_for :page_title do %>
Civil Service Jobs - Personal statement - GOV.UK
<% end %>
<% content_for :head do %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<% end %>
<% content_for :inside_header do%>
<div class='header-proposition'>
  <div class='content'>
    <nav id='proposition-menu'>
      <a href='/' id='proposition-name'>Civil Service Jobs</a>
    </nav>
  </div>
</div>
<% end %>

<div id="content">
<div id="page-container">

	<div class="phase-banner">
	  <p>
	    <strong class="phase-tag">ALPHA</strong>
	    <span>This is a prototype – your <%= mail_to "support.csjobs@csresourcing.gsi.gov.uk" , "feedback" %> will help us to improve it.</span>
	  </p>
	</div>

	<div class="grid-row">

		<div class="column-one-third">
		<ul class="prog-tracker">
			<li><%= link_to "Eligibility checker", '#' %></li>
			<li><%= link_to "Your details", '#' %></li>
			<li><%= link_to "CV",   cv1_path %></li>
			<li class="prog-item--active"><%= link_to "Personal statement",   personal_statement_path %></li>
			<li><%= link_to "Diversity and inclusion", '#' %></li>
			<li><%= link_to "Additional requirements", '#' %></li>
		</ul>
		</div>

		<div class="column-two-thirds">
		<h1 class="heading-large">Personal statement</h1>
		<%= render 'layouts/pers_content'%>
			<form>
				<fieldset>
					<legend>Personal statement</legend>
				<div class="form-group">
					<label class="form-label" for="full-name-f1">Enter your statement<span class="help-text">Not to exceed 1400 words</span></label>
			  		<textarea class="form-textarea" name="pers-statement" id="word_count" rows="50" cols="72"></textarea>
					<p>Word count <span class="word-counter count__pers-statement" id="display_count">0</span></p>
			  	</div>
			  	<div class="form-group">
			  		<label class="form-checkbox" for="checkbox-telephone-number">
				    <input id="removed-persona-details" name="details-removed" type="checkbox" value="">
				    I have removed identifiable details
				    </label>
		  		</div>
		  		</fieldset>
	  		</form>
	  		<div class="form-group">
		<%= link_to "Save and continue",   personal_statement_path, class: "button" %>
		</div>
		</div>

	</div>
</div>
</div>
<script type="text/javascript">
	$(document).ready(function () {
	var max_count = 1400;
    var wordCounts = {};
    
     $("#word_count").on('keyup', function() {
        var words = this.value.match(/\S+/g).length;
        if (words > max_count) {
            // Split the string on first 200 words and rejoin on spaces
            var trimmed = $(this).val().split(/\s+/, max_count).join(" ");
            // Add a space at the end to keep new typing making new words
            $(this).val(trimmed + " ");
        }
        else {
            $('#display_count').html(words);
        }
    });
    
    
    }).keyup();
</script>