<div id="page-container">

	<div class="phase-banner">
	  <p>
	    <strong class="phase-tag">ALPHA</strong>
	    <span>This is a prototype – your <%= mail_to "support.csjobs@csresourcing.gsi.gov.uk" , "feedback" %> will help us to improve it.</span>
	  </p>
	</div>

	<div class="grid-row">

		<div class="column-two-thirds right">
		<h1>Personal statement</h1>
		<p>Literally cred sustainable locavore, authentic four loko lo-fi synth butcher portland selvage DIY <%= link_to "roof party", '#', class: 'external-link' %> pickled.</p> <p>Fashion axe waistcoat meh sustainable fixie keffiyeh kitsch, swag mumblecore slow-carb bitters listicle. Crucifix thundercats umami, asymmetrical austin paleo migas.</p>
		<ul>
			<li>waistcoat</li>
			<li>photo booth</li>
		</ul>
		<div class="form-group">
		<label class="form-label" for="full-name-f1">Your personal statement</label>
  		<input class="form-control" id="full-name-f1" type="text">
  		</div>
  		<div>
  		<label class="form-checkbox" for="checkbox-telephone-number">
		    <input id="removed-persona-details" name="details-removed" type="checkbox" value="">
		    I have removed identifiable details
		    </label>
  		</div>
		<%= link_to "Save and continue",   personal_statement_path, class: "button" %>
		</div>

		<div class="column-third">
		<ul class="prog-tracker">
			<li><%= link_to "Eligibility checker", '#' %></li>
			<li><%= link_to "Your details", '#' %></li>
			<li><%= link_to "CV",   cv1_path %></li>
			<li class="prog-item--active"><%= link_to "Personal statement",   personal_statement_path %></li>
			<li><%= link_to "Diversity and inclusion", '#' %></li>
			<li><%= link_to "Additional requirements", '#' %></li>
		</ul>
		</div>

	</div>

</div>