<div class="column-one-third">
		<ul class="prog-tracker">
			<li><%= link_to "Eligibility checker", '#' %></li>
			<li><%= link_to "Your details", '#' %></li>
			<li class="prog-item--active"><%= link_to "Your CV",   cv1_path %></li>
			<li><%= link_to "Personal statement",   personal_statement_path %></li>
			<li><%= link_to "Diversity and inclusion", '#' %></li>
			<li><%= link_to "Additional requirements", '#' %></li>
		</ul>
		</div>